@charset "iso-8859-1";
/* CSS Document */
body{
	font-size:18px;
	font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
	color:black;
}/*952x59*/
a{
	text-decoration:none;
	outline:medium none;
	color:black;
	line-height:35px;
	white-space:nowrap;
}
li,ul,ol{
	margin:0;
	padding:0;
	list-style-type:none;
	border:0;
	outline:0;
	background:none;
	vertical-align:middle
}
.bar-nav-main{
	margin-left:auto;
	margin-right:auto;
	margin-bottom:15px;
}
.wrapper{
	padding:0 5px;
	height:39px;
	width:auto;
	background-color: #eee; 
}
.nav{margin:1px 0 0 5px;}
.nav>li{
	float:left;
	margin:1px 1px 0 1px;
	position:relative;
	z-index:20;
}
.nav>li>a{
	line-height:35px;
	display:block;
	padding:1px 9px;
}
.nav>li:hover{
	margin:1px 0 0 0;
	background: #fff;
	box-shadow:0 3px 10px #888;
	border-top:1px solid black;
	border-left:1px solid black;
	border-right:1px solid black;
	position:relative;
}
.nav>li:hover>a {
	background-color:#FFF;
	padding:1px 9px 0px 9px;
	position:relative;
	z-index:50;
}
.nav>li>ul{
	display:none;
	position:absolute;
	top:34px;left:-1px;
	padding:5px 0 0 0;
	box-shadow:0 6px 10px #888;
	background:#fff ;
	border:1px solid #eee;
}
.nav>li:hover ul{
	display:block;
}
.nav>li>ul>li a {
	line-height:25px;
	padding:5px 10px;
	display:block;
}
.nav>li>ul>li a:hover{
	background:#eee;
	color:black;
}
.title{
	margin-top: 30px;
	padding-left: 5%;
	padding-right: 5%;
}

.paraf{
	margin-top: 30px;
	padding-left: 5%;
	padding-right: 5%;
}
#paraf1{
	display: flex;
	width: auto;
}
#paraf1-img{
	width: auto;
	border : solid black 1px;
	flex-direction: column;
	padding: 3px;
	background-color: #f8f9fa;
	text-align: center
}
#paraf3{
	display: flex;
}
#paraf3-img{
	width: auto;
	border : solid black 1px;
	flex-direction: column;
	padding: 3px;
	background-color: #f8f9fa;
	text-align: center;
	margin-top: 5px;
	margin-left: 25px;
	margin-right: 25px;
}


